html, body, #falcon, #falcon canvas {
	background: black;
	color: #22d5f6;
}
/*
iPad 1 & 2 screen resolution in landscape is 1024x768
navigation bar in Safari is ca 78px
*/
#falcon {
	box-shadow: inset 0 0 5px 1px #22d5f6,	0 0 5px 1px #22d5f6;
	-webkit-box-shadow: inset 0 0 5px 1px #22d5f6,	0 0 5px 1px #22d5f6;
	height: 690px;
	left: 0;
	position: absolute;
	top: 0;
	width: 1024px;
}
#falcon input, 
#falcon canvas {
	position: absolute;
}
#falcon #canvasWrapper canvas {
	box-shadow: inset 0 0 5px 1px #22d5f6,	0 0 5px 1px #22d5f6;
	-webkit-box-shadow: inset 0 0 5px 1px #22d5f6,	0 0 5px 1px #22d5f6;
	height: 690px;
	left: 128px;
	width: 768px;
}
#falcon input {
	-webkit-appearance: none;
	border: none;
border-radius: 5px;
	box-shadow: inset 0 0 10px 3px #22d5f6,	0 0 5px 1px #22d5f6;
	-webkit-box-shadow: inset 0 0 5px 1px #22d5f6,	0 0 5px 1px #22d5f6;
	background: black;
	color: #22d5f6;
	bottom: 0;
	height: 256px;
	width: 128px;
}
#falcon input:active {
	background: #22d5f6;
	color: black;
}
#falcon input#right {
	left: 896px;
}

#falcon #menuWrapper {
	left: 896px;
	position: absolute;
	top: 0;
}
#falcon input#start {
	height: 30px;
	position: relative;
	width: 128px;
}

#falcon #debugWrapper {
	left: 920px;
	position: absolute;
	top: 200px;
}